.tabuleiro {
  position: relative;
  width: 500px;
  height: 500px;
  border: 5px solid #cccccc;
  border-radius: 10px;
}

.mapa {
  position: absolute;
  width: 500px;
  height: 500px;
}

.jogador {
  position: absolute;
  top: 10px; /* randomizar no começo do jogo */
  left: 10px; /* randomizar no começo do jogo */
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 100%;
}

.fog-of-war {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: black;
  /* background: radial-gradient(circle at 200px 200px, transparent 100px, rgba(0, 0, 0) 150px); */
}
